*{
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html{
  font-family: Helvetica, sans-serif;
  font-size: 1.4rem;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.container {
  padding: 1rem;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

.container:before, .container:after{
  content: "";
  display: table;
  clear: both;
}

.row {

  width: 100%;
  margin-bottom: 2rem;

}

.row:before,.row:after {
  content: "";
  display: table;
  clear: both;
}

.row div{
  width: 100%;
  max-width: 420px;
  float: left;
}

.selectors {
  float: left;
  padding-left: 6px;
  margin-right: 1rem;

}

.displayResult{
  /* margin-right: */
  height: 100%;
  /* border: 1px black solid; */
}


.selectors select, .selectors button{

  /* margin-top: 1rem; */
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.addBox{
  padding: 1rem;
  border: solid black 1px;
  width: 100%;
  font-size: small;
  line-height: 2rem;
}
.addBox div {
  float:left;
  width: fit-content;
}
.addBox input {
  margin-right: 6px;
  padding: 3px;
  width:90px;
}

.addBox span{
  float: left;
  width: 50px;
}

.addBox button{
  /* float: left; */
  width: 50px;
  padding: 0.5rem;
  margin-left: 1.5rem;
}



.displayFilteredShoes table, .displayBasket table{
  margin-left: 2rem;
  margin-bottom: 1rem;
  width: 90%;
  max - height: 200px;
  font-size: small;
  /* border: solid black 0.5px; */
  padding: 1rem;
  box-shadow: 0 2px 5px #ccc;

  overflow-y: auto;
}

.displayFilteredShoes td, .displayBasket td{
  margin: 1rem;
  width: 10px;
  /* border-bottom:solid black 0.5px; */
}

.heading{
  width: 100%;
}
h1 {
  float:left;

}

/* .cart{
  float: right;
  width: 30px;
  height: 100px

  padding: 1rem;
  box-shadow: 0 2px 5px #ccc;
} */
